@{
    ViewData["Title"] = "Home Page";
}
@*<div class="col-xl-12 hideElement" id="AddNewRequest" style="height: 100vh"></div>*@

<div class="col-xl-3 col-lg-4 col-12 col-sm-12 ListRequest" style="height: 100vh">
    <div class="border-bottom border-gray mb-2 pl-3 pr-3 pt-2 pb-2" style="background-color: white">

        @*<div class="form-inline" style="align-items: flex-start; justify-content: space-between">
                <form id="SearchRequestForm" action="javascript:SearchAnythings();">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <img src="~/assets/svg/search.svg" class="img-fluid" alt="search"></span>
                        </div>
                        <input id="textQuickSearch" type="search" class="form-control" placeholder="Tìm kiếm"
                               aria-label="Search" aria-describedby="button-addon2">
                    </div>
                </form>
                <button type="button" class="btn btn-primary"><i class="feather icon-filter mr-2"></i> Bộ lọc</button>
            </div>*@
        <div id="danhSachYeuCauTitle" class="row align-items-center">
            <div class="col-5">
                <h6 class="card-title mb-0">
                    Danh sách yêu cầu
                </h6>
            </div>
            <div class="col-7 d-flex">
                    <div class="input-group">
                        <input onchange="searchRequest()" id="searchRequestInput" placeholder="Tìm theo tên yêu cầu, người tạo ..." style="background-color: rgba(129, 167, 205, 0.1);color: #263a5b;font-size: 16px;padding-left: 20px;border: none;border-radius: 3px 0 0 3px; font-size: 12px" type="text" class="form-control form-control-sm mr-2" aria-label="Amount (to the nearest dollar)">
                    </div>
                    <button onclick="searchRequest()" id="searchRequestInputBtn" style="padding: 2px 6px" class="btn btn-primary-rgba"><i class="feather icon-search"></i></button>
            </div>
        </div>
        <div class="row align-items-center hideElement" id="userStatus">
            <div class="col-9">
                <h6 class="card-title mb-0">
                    Danh mục cha
                </h6>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12 hideElement" id="loadingListRequest" style="position: absolute; top:50%; ">
            <div class="row justify-content-center">
                <button class="btn btn-primary" type="button" disabled="">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>

    </div>
    <div id="ListRequest" style="height: calc(100vh - 85px); overflow: auto; padding-bottom: 20px;">
        <div class="col-md-12 col-lg-12 col-xl-12" id="statusListRequest" style="position: absolute; top:50%">
            <div class="text-center mt-3 mb-5">
                <h6 style="color: gray">Không có yêu cầu</h6>
            </div>
        </div>
    </div>
    <div class="border-top border-gray mb-2 p-2" style="background-color: white; position: sticky; bottom: 0px; border-top: 1px solid #dee2e6 !important" id="loadMoreBtn">
        <div class="row align-items-center justify-content-center" onclick="loadMore()" style="cursor: pointer" id="loadMore">
            <h7 class="card-title mb-0">
                Tải thêm ( <strong id="currentTotalReq" class="text-muted" style="font-weight: 100;">0</strong> / <strong id="TotalReq" style="font-weight: 100; color: #0080ff">0</strong> )
            </h7>
        </div>
    </div>

</div>
<div class="col-xl-9 col-lg-8 col-12 col-sm-12 RequestContent" style="padding-top: 10px; padding-bottom: 20px; height: 100vh; overflow: auto">
    <div class="col-md-12 col-lg-12 col-xl-12 hideElement" id="loadingRequestContent" style="position: absolute; top:50%">
        <div class="row justify-content-center">
            <button class="btn btn-primary" type="button" disabled="">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
    <div id="RequestContent">
        <div class="col-md-12 col-lg-12 col-xl-12" id="loadingRequestContent" style="position: absolute; top:50%">
            <div class="row justify-content-center">
                <h6 style="color: gray">Không có yêu cầu</h6>
            </div>
        </div>
    </div>
</div>


