@if (Model.GroupUserPermission.IsEditRequest > 0)
{
    <div class="modal fade" id="AddIncidentQuickModal" tabindex="-1" role="dialog" aria-labelledby="exampleStandardModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleStandardModalLabel">Thêm Incident</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                   @* action="@Url.Action("AddIncident", "IncidentRequest")" *@
                    <form method="post" id="addIncidentForm">
                        <input type="text" class="form-control" name="RequestId" id="RequestID_AddIncident" readonly hidden>
                        <div class="form-group">
                            Impact
                            <select style="margin-top : 10px" class="form-control" name="Impact" id="impactIncident" required>
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">Hight</option>
                            </select>
                        </div>

                        
                         <div class="form-group">
                            CorrectiveAction
                            <textarea class="form-control" name="CorrectiveAction" id="CorrectiveAction" style="margin-top : 10px"  rows="4" cols="50"></textarea>
                        </div>

                        <div class="form-group">
                            PreventiveAction
                            <textarea class="form-control" name="PreventiveAction" id="PreventiveAction" style="margin-top : 10px"  rows="4" cols="50"></textarea>
                        </div>
                        <button type="submit" id="addIncidentFormBtn" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setAddIncidentRequestId(ReqID) {
            
            $("#RequestID_AddIncident").val(ReqID);
        }
        $("#addIncidentFormBtn").click(function (event) {
            event.preventDefault();
            var form = $('#addIncidentForm')[0];
            var data = new FormData(form);
            $("#addIncidentFormBtn").prop("disabled", true);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "@Url.Action("AddIncident", "IncidentRequest")",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    if (data == 1) {
                        AlertForm("Thành công", "success", false, "OK");
                        
                        $('.close').click();
                       // loadRequestContent($('#RequestID_AddIncident').val(), "")
                    }
                },
                error: function (e) {
                }
            });

        })
    </script>
}
else { }


