<div class="modal fade TicketContractInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleLargeModalLabel">Thông tin hợp đồng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="TicketContractContent">
                <table id="records_table" class="table ">
                    <thead>
                        <tr>
                            <th>Mã hợp đồng</th>
                            <th>Hợp đồng bán</th>
                            <th>Tên hợp đồng</th>
                            <th>phòng ban</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>
            </div>

        </div>
    </div>
</div>
